html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, #eff6ff, #ffffff, #e0e7ff);
  background-attachment: fixed;
  background-size: 200% 200%;
  animation: gradientMove 15s ease infinite;
}


main {
  width: 100%;
  flex-grow: 1;
}


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
